<%- include('partials/header') %>

<main>
    <h1 class="product-title">All Products</h1>
    <div class="prod-image">
        <% products.forEach(product => { %>
            <div class="image-card">
                <img src="<%= product.image_url %>" alt="<%= product.name %>">
                <a href="/product/<%= product.id %>">
                    <h3><%= product.name %></h3>
                </a>
                <p class="image-caption"><%= product.description %></p>
                <p class="price-text">$<%= product.price %></p>
                <form method="POST" action="/cart/add">
                    <input type="hidden" name="id" value="<%= product.id %>">
                    <input type="hidden" name="name" value="<%= product.name %>">
                    <input type="hidden" name="price" value="<%= product.price %>">
                    <input type="hidden" name="image_url" value="<%= product.image_url %>">
                    <button class="prod-button">Add to Cart</button>
                </form>
            </div>
        <% }) %>
    </div>
</main>

<%- include('partials/footer') %>